.navbar{
    padding: 20px;
}

.nav-item{
padding: 10px;
}

span{
    cursor: pointer;
    font-weight: 500;
}

.trigger div{
    cursor: pointer;
    transition: .5s;
    color: white;
}

.trigger div:hover{
    transform: scale(1.1);
}


.slider{
    margin-top: 10px;
    width: 300px;
}

div[disabled]
{
  cursor: default !important;
  pointer-events: none;
  opacity: 0.7;
}

span[disabled]
{
    cursor: default;
    pointer-events: none;
    opacity: 0.7;
}
